<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Home</title>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<style>
.navbar {
	margin-bottom: 0px;
}

#nav ul li a:hover,#nav ul li a:active {
	color: #FFA500;
}

.jumbotron {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(/famous/images/IMG_9974.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 !important;
	height: 500px
}

#margin {
	margin-top: 100px;
	margin-bottom: 100px;
}

h1 {
	font-family: "맑은고딕", "Malgun Gothic", serif;
} /* h2태그에 서체 지정 */
.font {
	font-family: "돋움", Dotum, "돋움체", DotumChe;
} /* class=font 에 서체지정*/

</style>
<body>
	<div id="nav">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/famous/views/home.html">Poll</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/famous/views/home.html">Home</a></li>
					<li><a href="/famous/views/intro.html">Intro</a></li>
					<li><a href="/famous/views/clicktovote.html">Click to Vote</a></li>
					<li><a href="/famous/views/qna/list.html">QnA</a></li>
					<li><a href="/famous/views/login.html" type="button btn-default">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<div id="margin">
			<div class="row col-lg-offset-1">
				<div class="col-lg-6">
						<span style="color: #FFA500">
							<h1>
								<strong>Food-related</strong>
							</h1>
						</span>
				</div>
				<div class="col-lg-6">
					<form class="form-horizontal" method="post" role="form">
						<br><br>
						<div class="form-group">
							<div class="col-lg-8">
								<button type="submit" class="btn btn-success">Register vote immediately</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-8">
									<span style="color: white"> <small>By clicking
										"Sign up for PRM". We will send you account related emails
										occasionally.</small>
									</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>


	<div class="container">
		<!--</div>-->
		<div class="row placeholders">
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home.html"><img
						src="/famous/images/it.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home_fashion.html"><img
						src="/famous/images/fashion.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home_food.html"><img
						src="/famous/images/food.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home_date.html"><img
						src="/famous/images/date.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home_game.html"><img
						src="/famous/images/gamegame.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
			<div class="col-xs-6 col-sm-2 placeholder">
				<a href="/famous/views/home_etc.html"><img
						src="/famous/images/etc.png"
						class="featurette-image img-responsive"
						src="data:image/png;base64," data-src="holder.js/500x500/auto"
						alt="Generic placeholder image img-circle"></a>
				<br>
			</div>
		</div>


		<hr>
		<br>

		<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder">
					<a href="/famous/views/mypage/view.html"><img
							src="/famous/images/mypage001.jpg"
							class="featurette-image img-responsive"
							src="data:image/png;base64," data-src="holder.js/500x500/auto"
							alt="Generic placeholder image"></a>
					<h4><center>IT</center></h4>
					<br>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage002.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>IT</center></h4>
					<br>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage002.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>IT</center></h4>
					<br>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage001.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>데이트</center></h4>
					<br>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage002.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>Food</center></h4>
					<br>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage002.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>Fashion
					</center></h4>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img src="/famous/images/mypage001.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4><center>IT</center></h4>
					<br>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		</div>
		<div class="form-group">
			<div class="col-lg-10"></div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<div class="checkbox">
					<label> </label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10"></div>
		</div>

		<hr>

		<footer>
			<p>&copy; PRM 2014</p>
		</footer>

		<hr>

	</div>
	<!-- Button trigger modal -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title">Edit My vote</h4>
				</div>
				<div class="modal-body">
					<div class="row col-lg-offset-1">
						<div class="col-lg-5">
							<img src="/famous/images/macbook.jpg"
								class="featurette-image img-responsive"
								src="data:image/jpg;base64," data-src="holder.js/700x300/auto">
							</div>
						<div class="col-lg-5">
							<img src="/famous/images/air.jpg"
								class="featurette-image img-responsive"
								src="data:image/png;base64," data-src="holder.js/700x300/auto">
						</div>
					</div>
					<div class="modal-body">
						<div class="row col-lg-offset-1">
							<div class="col-lg-5">
								<h1>
									<strong><center>맥북</center></strong>
								</h1>
							</div>
							<div class="col-lg-5">
								<h1>
									<strong><center>인민에어</center></strong>
								</h1>
							</div>
						</div>
						<div class="modal-body">
							<div class="row col-lg-offset-1">
								<div class="col-lg-5">
									<h1>
										<strong><center>15</center></strong>
									</h1>
								</div>
								<div class="col-lg-5">
									<h1>
										<strong><center>13</center></strong>
									</h1>
								</div>
							</div>
					<div class="modal-body">
						<form method="post" class="form-horizontal">
							<div class="form-group">
								<label class="col-lg-2 control-label">제목</label>
								<div class="col-lg-10">
									<p class="form-control-static" type="text">노트북을 뭘 사야할까요</p>
									<input class="form-control hidden" name="text" id="title"
										type="text" value="${username}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label" >등록일</label>
								<div class="col-lg-10">
									<p class="form-control-static" type="text">2015-05-15</p>
									<input class="form-control hidden" name="text" id="date"
										   type="text" value="${username}">
								</div>
							</div>
							<hr>
							<div class="form-group">
								<div class="col-lg-12">
										<button class="btn btn-danger pull-left" type="button"
											id="removeBtn">종료</button>
										<button class="btn btn-warning pull-right" type="submit">수정</button>
										<a href="/famous/views/mypage/home.html" class="btn btn-default pull-right">취소</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("img").hover(function() {
			$(this).css("opacity", 0.4);
		}, function() {
			$(this).css("opacity", 1);
		});

//		var domain = document.domain;
//		$('#removeBtn').click(function() {
//			if (confirm('삭제하시겠습니까?')) {
//				$.ajax({
//					url : "http://" + domain + ":8080/mypage/remove",
//					type : 'post',
//					data : {
//						email : "${username}"
//					},
//					success : function(data) {
//						console.log(data);
//						window.location.href = "j_spring_security_logout";
//					}
//				});
//			}
//		});
	</script>
</body>
</html>